.root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  a {
    font-size: 18px;
    padding: 10px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    display: inline-flex;
    width: 45px;
    color: #fe5f1e;
    height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
  }
  a:hover {
    background-color: #fe5f1e;
    color: white;
    border-radius: 30px;
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
        border-radius: 30px;
      }
    }
  }
}
